@use "../../../styles"as *;


.landing__powered {
    // border: 4px solid red;
    margin: 5.75rem 0 0 0;

    @include bp-min($ss-mm) {
        margin: 2.75rem 0 0 0;
    }

    &-wrapper {
        @include flex($d:column);
    }

    &-top {
        // border: 4px solid yellow;
        @include flex($d:column);
        gap: 3rem;

        @include bp-min($ss-mm) {
            @include flex($d:row);
            gap: 3.25rem;
        }
    }

    &-buttons {
        @include flex($d:column);
        gap: 1.5rem;

        @include bp-min($ss-mm) {
            border: 1px solid;
            width: 23.75rem;

            button {
                &:first-of-type {
                    margin-right: auto;
                }

                &:last-of-type {
                    margin-left: auto
                }
            }
        }

        button {
            @include flex;
            width: 17.5rem;
            height: 1.875rem;
            border-radius: .5rem;
            background-color: var(--black-200);
            @include flex;
            gap: .25rem;

            span {
                @include flex;

                &:nth-of-type(1) {
                    @include equal(1.25rem);
                    overflow: hidden;
                    @include flex;
                    border-radius: 50%;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border: 1px solid var(--white);
                        border-radius: inherit;
                        opacity: .5;
                    }
                }

                &:nth-of-type(2) {
                    color: var(--white);

                    font: {
                        family: var(--ff-clash);
                        size: .875rem;
                        weight: var(--fw-mid)
                    }
                }

                &:nth-of-type(3) {
                    @include equal(.625rem)
                }
            }
        }
    }

    &-bottom {
        // border: 4px solid green;
        width: 100%;
        height: 4rem;
        background-color: var(--white);
        color: black;
        @include flex($j:flex-start);

        @include bp-min($ss-mm) {
            height: 5.25rem;
        }
    }
}