@use "../../styles/index"as *;


.profile {
    margin-block: 2.8125rem;
    padding-inline: 2.5rem;

    &-wrapper {
        @include flex($d:column, $a:flex-start);
        gap: 1.125rem;

        h2 {
            font-family: var(--ff-clash);
            text-transform: capitalize;
            font-weight: var(--fw-mid);
            font-size: 1.125rem;
        }
    }

    &-ui-container {
        height: 27rem;
        width: 100%;
        border-radius: 1.5rem;
        border: 1px solid darken($color: #fff, $amount: 80);
        overflow: hidden;

        >div {
            position: relative;
        }

        >.top {
            height: 6.5rem;
            background-image: url("/profile-header.jpg");
            background-repeat: no-repeat;
            background-size: cover;

            >* {
                position: absolute;
            }

            div {
                width: 100%;
                @include flex($j:space-between);
                top: 1.25rem;
                padding-inline: .625rem;
            }

            button {
                @include equal(1.5rem);
                @include flex;
                border-radius: 50%;
            }

            span {
                @include equal(4rem);
                @include flex;
                border-radius: 50%;
                bottom: -2.5rem;
                left: 1rem;
                overflow: hidden;
                z-index: 1;
            }
        }

        >.bottom {
            outline: .25rem dashed green;
            height: 100%;
            background-color: var(--black-300);

            .follow-button {
                @include flex($j:flex-end);
                padding-inline-end: .75rem;

                button {
                    margin-top: .5rem;
                    @include flex;
                    padding: .375rem;
                    width: 5.875rem;
                    border-radius: 1rem;
                    background-color: transparent;
                    border: 1px solid darken($color: #fff, $amount: 40);

                    span {
                        color: var(--white);
                        text-transform: capitalize;
                        font-size: .6875rem;
                        font-family: var(--ff-clash);
                        font-weight: var(--fw-reg);
                    }
                }
            }

            .user {
                margin-top: .75rem;
                padding-inline-start: 1.125rem;

                &-display {
                    .top {
                        @include flex($j:flex-start);
                        gap: 0.25rem;
                    }

                    .display-name{
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}