:root {
    --black: #000000;
    --black-200: #151515;
    --black-300: #101010;
    --black-400: #313131;

    --white: #ffffff;

    --green-100: #94f2a3;
    --green-200: #a1f294;
    --green-300: #8fd784;
    --green-400: #C4FF95;

    --yellow-100: #e5f77a;
}