@mixin flex($a:center, $d:row, $j:center) {
    display: flex;
    flex-direction: $d;
    align-items: $a;
    justify-content: $j;
}

;

@mixin bp-max($bp:0) {
    @media (max-width: $bp) {
        @content
    }
}

;

@mixin bp-min($bp:0) {
    @media (min-width: $bp) {
        @content
    }
}

;

@mixin min-w($w:0, $p:100%) {
    width: min($w, $p);
}

;

@mixin max-w($w:0, $p:100%) {
    width: max($w, $p);
}

;

@mixin equal($h-w:0) {
    height: $h-w;
    width: $h-w;
}

;

@mixin reset {
    padding: 0;
    margin: 0;
}

;