* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

input[type="text"],
textarea {
    border: none;
    outline: none;
}

textarea{
    resize: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}