@use "../../styles"as *;


.landing {

    // @include bp-max($ss-mm) {
    // background-image: url("/mobileBG.png");
    // background-position: -16.5rem 2rem;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // }

    @include bp-min($ss-mm) {
        background-image: url("/desktopBG.png");
        background-position: center center;
        background-size: cover;
    }

    &__about {
        padding-inline: 4.25rem;

        &-wrapper {
            @include flex;
        }

        p {
            text-align: center;

            font: {
                family: var(--ff-clash);
                size: 1rem;
                weight: var(--fw-mid);
            }

            @include bp-min($ss-mm) {
                font-size: 2.5rem;
            }

            span {
                color: var(--yellow-100);
            }
        }
    }
}