@use "../../styles"as *;


.landing {

    &__about {
        padding-inline: 4.25rem;

        &-wrapper {
            @include flex;
        }

        p {
            text-align: center;

            font: {
                family: var(--ff-clash);
                size: 1rem;
                weight: var(--fw-mid);
            }

            @include bp-min($ss-mm) {
                font-size: 2.5rem;
            }

            span {
                color: var(--yellow-100);
            }
        }
    }
}