@use "../../../styles"as *;


.landing__questers {
    margin: 3.75rem 0 0 0;

    @include bp-min($ss-mm) {
        margin: 0 0 0 0;
        padding: 0 0 .0625rem 0;
        background-color: var(--white);
    }

    &-wrapper {
        @include flex($d:column);
        gap: 4.75rem;

        @include bp-min($ss-mm) {
            padding: 4rem 0 0 0;
            @include flex($d:row, $j:space-between);
            background-color: var(--black-300);
        }
    }

    &-left {
        @include flex($d:column);
        gap: 2.25rem;

        @include bp-min($ss-mm) {
            margin-left: 11.25rem;
            gap: 3.5rem;
        }

        &_top {
            @include flex($d:column);

            h2 {
                @extend %quest-header;
            }

            >div {
                margin: 1.5rem 0 1rem 0;
            }

            p {
                @extend %quest-text;
                width: 17.5rem;

                @include bp-min($ss-mm) {
                    width: 38.25rem;
                    text-align: left;
                    font-size: 1.25rem;
                }
            }
        }

        &_center {
            @include flex($d:column);
            gap: 1.25rem;

            h2 {
                @extend %quest-header;
            }

            p {
                @extend %quest-text;
                width: 17rem;

                @include bp-min($ss-mm) {
                    width: 39.25rem;
                }
            }
        }

        &_bottom {
            height: 3rem;

            @include bp-min($ss-mm) {
                height: 5.25rem;
                width: 100%;
            }

            form {
                border: 1px solid var(--green-200);
                height: inherit;
                border-radius: 2.875rem;
                @include flex;
                overflow: hidden;

                @include bp-min($ss-mm) {
                    @include flex($j:space-between)
                }

                input {
                    height: inherit;
                    padding: .5rem;
                    color: rgba(34, 33, 33, 0.63);
                    background-color: #C4FF95;
                    text-align: center;

                    font: {
                        size: .875rem;
                        family: var(--ff-clash);
                        weight: var(--fw-mid);
                    }

                    @include bp-min($ss-mm) {
                        width: 60%;
                        font-size: 1.375rem;
                    }
                }

                button {
                    background-color: var(--black);
                    color: var(--white);
                    padding-inline: .75rem;
                    height: 100%;

                    font: {
                        size: .75rem;
                        family: var(--ff-clash);
                        weight: var(--fw-mid);
                    }

                    @include bp-min($ss-mm) {
                        @include flex;
                        width: 40%;
                        font-size: 1.375rem;
                    }
                }
            }
        }
    }
}