@use "../../styles"as *;

/**
 * Styles for the .edit component.
 */
.edit {
    @include bp-min($ss-mm) {
        display: none;
    }

    margin-block: 4.125rem;
    /** Vertical margin for the .edit component. */
    padding-inline: 1.5rem;
    /** Horizontal padding for the .edit component. */

    /**
     * Styles for the title bar within the .edit component.
     */
    &__title-bar {
        @include flex($j: space-between);
        /** Apply flexbox with space-between alignment. */

        >span {
            text-transform: capitalize;
            /** Capitalize text within the title bar. */

            font: {
                size: 1.25rem;
                /** Font size for the title bar text. */
                family: var(--ff-clash);
                /** Font family for the title bar text. */
                weight: var(--fw-mid);
                /** Font weight for the title bar text. */
            }
        }
    }
}