@use "../../styles"as *;


.club {
    margin: 1.5rem 0 2rem 0;
    outline: .25px solid red;

    @include bp-min($ss-mm) {
        @include flex;
    }

    &__wrapper {
        height: 9rem;
        position: relative;

        @include bp-min($ss-mm) {
            height: 11.25rem;
            border: 1px solid yellow;
            width: 100%;
            // width: max-content;
            // @include flex
        }
    }

    $club-items: ((4rem, 0, 5deg),
        // (1.75rem, 19rem, -10deg),
        // (7.5rem, 18rem, 0),
        //     (45%, 35rem, 5deg),
        //     (15%, 53rem, -10deg),
        //     (5%, 48rem, 0),
        //     (20%, 30rem, 10deg),
        // (0, 28rem, 0),
        // (2.8rem, 11rem, -10deg)
    );


    &__parent {
        height: 1.5rem;
        width: 8rem;
        @include flex;
        position: absolute;

        @include bp-min($ss-mm) {
            width: 18rem;
            height: 3.5rem;
        }

        @for $index from 1 through length($club-items) {
            $item: nth($club-items, $index);
            $top: nth($item, 1);
            $left: nth($item, 2);
            $rotate: nth($item, 3);


            &:nth-of-type(#{$index}) {
                @include bp-min($ss-mm) {
                    top: $top;
                    left: $left;
                }

                .club__child {
                    rotate: $rotate;
                }
            }

        }






        &:nth-of-type(1) {

            @include bp-min($ss-mm) {
                // top: 35%;
                // top: 4rem;
                // left: 0rem;
            }

            .club__child {
                rotate: 5deg;
            }
        }

        &:nth-of-type(2) {

            @include bp-min($ss-mm) {
                // top: 15%;
                // left: 19rem;
            }

            .club__child {
                rotate: -10deg;
            }
        }

        &:nth-of-type(3) {

            @include bp-min($ss-mm) {
                // bottom: 0;
                left: 18rem;
            }

            .club__child {
                // rotate: 45deg;
            }
        }

        &:nth-of-type(4) {
            @include bp-min($ss-mm) {
                left: 35rem;
                top: 45%;
            }

            .club__child {
                rotate: 5deg;
            }
        }

        &:nth-of-type(5) {
            @include bp-min($ss-mm) {
                left: 53rem;
                top: 15%;
            }

            .club__child {
                rotate: -10deg;
            }
        }

        &:nth-of-type(6) {
            @include bp-min($ss-mm) {
                right: 48rem;
                bottom: 5%;
            }

            .club__child {
                // rotate: 45deg;
            }
        }

        &:nth-of-type(7) {
            @include bp-min($ss-mm) {
                right: 30rem;
                top: 20%;
            }

            .club__child {
                rotate: 10deg;
            }
        }

        &:nth-of-type(8) {
            @include bp-min($ss-mm) {
                right: 28rem;
                bottom: 0;
            }

            .club__child {
                // rotate: 45deg;
            }
        }

        &:nth-of-type(9) {
            @include bp-min($ss-mm) {
                right: 11rem;
                // top: 25%;
                top: 2.8rem;
            }

            .club__child {
                rotate: -10deg;
            }
        }
    }

    &__child {
        border-radius: 2.25rem;
        @include equal(100%);
        @include flex;
        padding: .1875rem .375rem;
        // opacity: 0;
    }

    &__text {
        border: 1px solid rgba($color: #000000, $alpha: .9);
        @include equal(100%);
        border-radius: inherit;
        @include flex;

        span {
            font: {
                family: var(--ff-typo);
                size: 1.25rem;
                weight: var(--fw-reg);
            }

            @include bp-min($ss-mm) {
                font-size: 2.5rem;
            }

            color: rgba($color: #000000, $alpha: .9);
        }
    }
}