@use "@/styles"as *;

/**
 * Styles for the badge timestamp component.
 */
.badge__timestamp {

    /**
     * Applying flexbox layout with column direction and flex-start alignment.
     * Setting vertical margin and gap between child elements.
     */
    @include flex($d: column, $a: flex-start);
    margin-block: 2rem;
    gap: .5rem;

    /**
     * Styles for the label within the timestamp component.
     */
    &-label {

        /**
         * Font styles for the label.
         */
        font: {
            size: 0.8125rem;
            family: map-get($map: $ff, $key: clash);
            weight: map-get($map: $fw, $key: mid);
        }
    }

    /**
     * Styles for the wrapper within the timestamp component.
     * Extending styles from %badge-wrapper and setting padding and gap.
     */
    &-wrapper {
        @extend %badge-wrapper;
        overflow: visible;
        padding: .875rem;
        @include flex($d: column);
        gap: 1.125rem;
    }

    /**
     * Styles for the date section within the timestamp component.
     */
    &-date {

        /**
         * Setting width, position, gap, and font styles for date elements.
         */
        width: 100%;
        position: relative;
        @include flex($j: flex-start);
        gap: .75rem;

        /**
         * Styles for the date title element.
         */
        &_title {
            font-family: map-get($map: $ff, $key: clash);
            font-size: .8125rem;
            width: 2rem;
            text-transform: capitalize;
            color: rgba($color: #fff, $alpha: .6);
        }

        /**
         * Styles for the date wrapper element.
         */
        &_wrapper {

            /**
             * Setting background color, flex properties, border radius, border, and width for the wrapper.
             */
            background-color: #050505;
            flex: 1;
            border-radius: .3125rem;
            border: 1px solid lighten($color: #000, $amount: 30);

            /**
             * Setting width for child div elements.
             */
            >div {
                width: 100%;
            }

            /**
             * Styles for the input element inside the date wrapper.
             */
            input {
                @extend %badge-input;
                font-size: .625rem;
                padding: .625rem .75rem;
            }

            /**
             * Styles for the edit icon before the input element.
             */
            &::before {
                @extend %badge-edit;
                content: "edit";
                top: 40%;
                right: 1.5rem;
            }
        }
    }

    /**
     * Styles for the working status section within the timestamp component.
     */
    &-working {

        /**
         * Applying flexbox layout with space-between justification and setting width.
         */
        @include flex($j: space-between);
        width: 100%;

        /**
         * Styles for the working status label element.
         */
        &_label {
            font-family: map-get($map: $ff, $key: clash);
            font-size: .8125rem;
            color: rgba($color: #fff, $alpha: .6);
        }

        /**
         * Styles for the working status input element.
         */
        &_input {
            display: none;

            /**
             * Styles for the checked state of the input element and the associated toggle.
             */
            &:checked~.badge__timestamp-working_toggle {
                background-color: rgba($color: #cbcc95, $alpha: .52);

                /**
                 * Moving the toggle indicator.
                 */
                &::after {
                    transform: translateX(1rem);
                }
            }
        }

        /**
         * Styles for the working status toggle element.
         */
        &_toggle {
            position: relative;
            width: 1.75rem;
            height: .75rem;
            border-radius: .875rem;
            background-color: #050505;
            transition: 200ms ease-in-out all;

            /**
             * Styles for the indicator inside the toggle.
             */
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: .75rem;
                background-color: white;
                border-radius: 50%;
                transition: 200ms ease-in-out all;
            }
        }
    }

    /**
     * Styles for the error message within the timestamp component.
     */
    &-error {
        font-size: 0.5rem;
        font-family: map-get($map: $ff, $key: clash);
        font-weight: 100;
        color: #ffc0cb;
    }
}