/**
 * Import global styles and variables.
 */
@use "@/styles"as *;

/**
 * Styles for the landing page hero section.
 */
.landing__hero {
    /** Horizontal padding for the hero section. */
    padding-inline: 2.875rem;
    /** Top margin for the hero section. */
    margin-top: 2.5rem;

    /**
     * Additional styles for larger screens.
     */
    @include bp-min($ss-mm) {
        /** Reset default styles to maintain consistency. */
        @include reset;
        /** Background color for larger screens. */
        background-color: var(--white);

        position: relative;
    }

    /**
     * Wrapper styles for the hero content.
     */
    &-wrapper {
        /** Apply flexbox with column direction for child elements. */
        @include flex($d: column);
        /** Spacing between child elements inside the wrapper. */
        gap: 0.5rem;
        /** Ensure the wrapper takes 100% width. */
        @include equal(100%);

        /**
         * Additional styles for larger screens.
         */
        @include bp-min($ss-mm) {
            /** Rounded corners for the top of the hero wrapper. */
            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            /** Border line at the top of the hero wrapper. */
            border-top: 1px solid;
            /** Increased spacing between child elements for larger screens. */
            gap: 0.75rem;
            /** Background color for the hero content wrapper. */
            background-color: var(--black);
        }

        figure {
            position: absolute;
            top: 0;
            @include flex;
            @include equal(inherit);
            height: pxToRem(850);
            overflow: hidden;
            pointer-events: none;

            img {
                @include equal(100%);
                scale: 1.45;
            }

            @include bp-max($ss-mm) {
                display: none;
            }
        }
    }

    /**
     * Font styles for text elements within the hero section.
     */
    font: {
        /** Custom font-family for the hero text. */
        family: map-get($map: $ff, $key: clash);
        /** Base font size for text elements within the hero section. */
        size: 1rem;
        /** Custom font-weight for text elements. */
        weight: map-get($map: $fw, $key: mid);
    }

    /**
     * Font styles for the heading within the hero section.
     */
    h1 {
        font: {
            /** Base font size for the heading. */
            size: 1.5rem;
            /** Custom font-family for the heading. */
            family: map-get($map: $ff, $key: typo);
            /** Custom font-weight for the heading. */
            weight: map-get($map: $fw, $key: reg);
        }

        /**
         * Additional styles for larger screens.
         */
        @include bp-min($ss-mm) {
            /** Increased font size for larger screens. */
            font-size: 2.5rem;
            /** Top margin for the heading on larger screens. */
            margin-top: 6.75rem;
        }
    }

    /**
     * Font styles for the paragraph text within the hero section.
     */
    p {
        /* Center align the text. */
        text-align: center;

        font: {
            /** Base font size for the paragraph text. */
            size: 1rem;
            /** Custom font-family for the paragraph text. */
            family: map-get($map: $ff, $key: clash);
            /** Custom font-weight for the paragraph text. */
            weight: map-get($map: $fw, $key: mid);
        }

        /**
         * Additional styles for larger screens.
         */
        @include bp-min($ss-mm) {
            /** Increased font size for larger screens. */
            font-size: 2.75rem;
            /** Minimum width for the paragraph text on larger screens. */
            @include min-w($w: 55.25rem);
        }

        /**
         * Font styles for the span element within the paragraph.
         */
        span {
            font: {
                /** Inherit font-family from the parent. */
                family: inherit;
                /** Inherit font-size from the parent. */
                size: inherit;
                /** Inherit font-weight from the parent. */
                weight: inherit;
            }

            /** Custom color for the span text. */
            color: var(--green-200);
        }
    }
}