@use "../../index.scss"as *;


.logo {
    &-wrapper {
        span {
            font-size: 1rem;
            font-family: var(--ff-clash);
            font-weight: var(--fw-mid);

            &:first-of-type {
                text-transform: capitalize;
            }

            &:last-of-type {
                color: var(--green-100);
            }
        }
    }
}