@use "../../styles/index"as *;


.landing {

    .hero {
        padding-inline: 2.875rem;
        margin-top: 2.5rem;

        &-wrapper {
            @include flex($d:column);
            gap: .75rem;
        }

        h1 {
            font-family: var(--ff-typo);
            font-size: 1.5rem;
            font-weight: var(--fw-reg);

            @include bp-max($ss-sm) {
                font-size: 1.25rem;
            }
        }

        p {
            font-family: var(--ff-clash);
            font-size: 1rem;
            font-weight: var(--fw-mid);
            text-align: center;

            @include bp-max($ss-sm) {
                font-size: .875rem;
            }

            span {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                color: var(--green-200);
            }
        }
    }
}