@use "./styles/index"as *;

html {

    body {
        background-color: var(--black);
        color: var(--white);
        touch-action: manipulation;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    * {
        // background: rgba(150, 100, 220, 0.1) !important;
    }
}