@use "@/styles"as *;

/**
 * Styles for the secondary navigation bar component.
 */
.secondaryNav {
    /**
     * Extending styles from the shared navbar container.
     */
    @extend %navbar-container;

    /**
     * Styles for the wrapper inside the secondary navigation bar.
     */
    &__wrapper {
        /**
         * Applying flexbox layout with space-between alignment.
         */
        @include flex($j: space-between);
    }

    /**
     * Styles for the right column inside the secondary navigation bar.
     */
    &__right-col {
        /**
         * Applying flexbox layout.
         */
        @include flex;

        /**
         * Setting gap between items.
         */
        gap: 0.5rem;
    }

    /**
     * Styles for the 'Create' link inside the secondary navigation bar.
     */
    &__create {
        /**
         * Font styles for the 'Create' link.
         */
        font-size: 0.8125rem;
        font-family: map-get($map: $ff, $key: clash);
        text-transform: capitalize;

        /**
         * Styling for the active state of the link.
         */
        a.active {
            color: rgba($color: #f2f0f0, $alpha: 0.40);
        }
    }

    /**
     * Styles for the 'Search' element inside the secondary navigation bar.
     */
    &__search {
        /**
         * Margin settings for the 'Search' element.
         */
        margin: 0 0.75rem 0 0.125rem;
    }
}