@use "@/styles"as *;
@import "@/styles/component/questers_badge";

/**
 * Styles for the questers section in the landing page.
 */
.landing__questers {
    margin: 3.75rem 0 0 0;
    /* Top margin of 3.75rem */
    position: relative;

    @include bp-min($ss-mm) {
        margin: 0;
        /* Reset margin for larger screens */
        padding: 0 0 .0625rem 0;
        /* Add padding for larger screens */
        background-color: var(--white);
        /* Set background color for larger screens */
    }

    /**
     * Styles for the wrapper containing quester content.
     */
    &-wrapper {
        @include flex($d: column);
        /* Apply flexbox layout with column direction */
        gap: 4.75rem;
        /* Gap between child elements */

        @include bp-min($ss-mm) {
            padding: 4rem 0 0 0;
            /* Padding for larger screens */
            @include flex($d: row, $j: space-between);
            /* Apply flexbox layout with row direction and space-between justify */
            background-color: var(--black-300);
            /* Background color for larger screens */
        }
    }

    /**
     * Styles for the left section of the questers.
     */
    &-left {
        @include flex($d: column);
        /* Apply flexbox layout with column direction */
        gap: 2.25rem;
        /* Gap between child elements */

        @include bp-min($ss-mm) {
            margin-left: 11.25rem;
            /* Left margin for larger screens */
            gap: 3.5rem;
            /* Increased gap for larger screens */
        }

        /**
         * Styles for the top part of the left section.
         */
        &_top {
            @include flex($d: column);
            /* Apply flexbox layout with column direction */

            h2 {
                @extend %quest-header;
                /* Extend the quest-header style */
            }

            >div {
                margin: 1.5rem 0 1rem 0;
                /* Margin for child elements */
                @include flex;
                gap: 2.25rem;

                div {
                    position: relative;
                    @include flex($d: column);
                    gap: .25rem;

                    >i {
                        position: absolute;
                        top: -.5rem;
                        right: -.5rem;
                    }

                    img {
                        @include equal(5.75rem);
                        @include flex;
                        border-radius: 50%;

                        @include bp-max($ss-mm) {
                            @include equal(1.75rem);
                        }
                    }

                    span {
                        @include flex;

                        font: {
                            size: .875rem;
                            /* Set font size */
                            family: map-get($map: $ff, $key: clash);
                            /* Set font family */
                            weight: map-get($map: $fw, $key: reg);
                            /* Set font weight */
                        }

                        @include bp-max($ss-mm) {
                            font: size .5rem;
                        }

                        color: rgba(255, 255, 255, 0.87);

                        i {
                            @include flex;
                            @include equal(.5rem);

                            @include bp-max($ss-mm) {
                                @include equal(.25rem);
                            }
                        }
                    }
                }
            }

            p {
                @extend %quest-text;
                /* Extend the quest-text style */
                width: 17.5rem;
                /* Width of the paragraph */

                @include bp-min($ss-mm) {
                    width: 38.25rem;
                    /* Increased width for larger screens */
                    text-align: left;
                    /* Left-aligned text */
                    font-size: 1.25rem;
                    /* Increased font size for larger screens */
                }
            }
        }

        /**
         * Styles for the center part of the left section.
         */
        &_center {
            @include flex($d: column);
            /* Apply flexbox layout with column direction */
            gap: 1.25rem;
            /* Gap between child elements */

            h2 {
                @extend %quest-header;
                /* Extend the quest-header style */
            }

            p {
                @extend %quest-text;
                /* Extend the quest-text style */
                width: 17rem;
                /* Width of the paragraph */

                @include bp-min($ss-mm) {
                    width: 39.25rem;
                    /* Increased width for larger screens */
                }
            }
        }

        /**
         * Styles for the bottom part of the left section.
         */
        &_bottom {
            height: 3rem;
            /* Height of the section */

            @include bp-min($ss-mm) {
                height: 5.25rem;
                /* Increased height for larger screens */
                width: 100%;
                /* Full width for larger screens */
            }

            form {
                border: 1px solid var(--green-200);
                /* Border color for the form */
                height: inherit;
                /* Inherit height from the parent */
                border-radius: 2.875rem;
                /* Border radius for rounded corners */
                @include flex;
                /* Apply flexbox layout */
                overflow: hidden;
                /* Hide overflowing content */

                @include bp-min($ss-mm) {
                    @include flex($j: space-between);
                    /* Apply flexbox layout with space-between justify */
                }

                input {
                    height: inherit;
                    /* Inherit height from the parent */
                    padding: .5rem;
                    /* Padding for the input */
                    color: rgba(34, 33, 33, 0.63);
                    /* Text color for the input */
                    background-color: #C4FF95;
                    /* Background color for the input */
                    text-align: center;
                    /* Center-aligned text */

                    font: {
                        size: .875rem;
                        /* Font size for the input */
                        family: map-get($map: $ff, $key: clash);
                        /* Font family for the input */
                        weight: map-get($map: $fw, $key: mid);
                        /* Font weight for the input */
                    }

                    @include bp-min($ss-mm) {
                        width: 60%;
                        /* Width of the input for larger screens */
                        font-size: 1.375rem;
                        /* Increased font size for larger screens */
                    }
                }

                button {
                    background-color: var(--black);
                    /* Background color for the button */
                    color: var(--white);
                    /* Text color for the button */
                    padding-inline: .75rem;
                    /* Horizontal padding for the button */
                    height: 100%;
                    /* Full height for the button */

                    font: {
                        size: .75rem;
                        /* Font size for the button */
                        family: map-get($map: $ff, $key: clash);
                        /* Font family for the button */
                        weight: map-get($map: $fw, $key: mid);
                        /* Font weight for the button */
                    }

                    @include bp-min($ss-mm) {
                        @include flex;
                        /* Apply flexbox layout */
                        width: 40%;
                        /* Width of the button for larger screens */
                        font-size: 1.375rem;
                        /* Increased font size for larger screens */
                    }
                }
            }
        }
    }

    /**
    * Styles for the right section of the questers 
    */
    &-right {
        @include flex($d:column, $a:flex-end);

        @include bp-max($ss-mm) {
            width: 100%;
        }

        /**
        * Styles for the top part of the right section 
        */
        &_top {
            @include bp-max($ss-mm) {
                display: none;
                /* Hide the right section on smaller screens */
            }

            border: 1px solid var(--white);
            /* Set border color */
            width: 20.5rem;
            /* Set width */
            margin-right: 3rem;
            /* Set right margin */
            border-radius: 1.5rem;
            /* Set border radius */
            padding: 1rem 1.5rem 2.5rem 1.5rem;
            /* Set padding */

            >span {
                margin-bottom: .5rem;
                /* Set bottom margin */
                display: inline-block;
                /* Display as inline-block */

                font: {
                    size: .75rem;
                    /* Set font size */
                    family: map-get($map: $ff, $key: clash);
                    /* Set font family */
                    weight: map-get($map: $fw, $key: mid);
                    /* Set font weight */
                }
            }
        }

        &_center {
            @include bp-min($ss-mm) {
                display: none;
            }

            margin-bottom: 2.875rem;
            width: 100%;
            padding-inline: 2rem;

            h3 {
                margin-bottom: 2rem;
                @include flex($j:flex-start);
                gap: .5rem;

                font: {
                    size: 1.125rem;
                    /* Set font size */
                    family: map-get($map: $ff, $key: clash);
                    /* Set font family */
                    weight: map-get($map: $fw, $key: mid);
                    /* Set font weight */
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    border-radius: 24px;
                    border: 1px solid #A1F294;
                    background-color: #151515;

                    font: {
                        size: .5rem;
                        /* Set font size */
                        family: map-get($map: $ff, $key: clash);
                        /* Set font family */
                        weight: map-get($map: $fw, $key: mid);
                        /* Set font weight */
                    }
                }
            }

            &-container {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(6, 1fr);
                place-items: center;
                gap: 1.75rem .75rem;
            }

            &-wrapper {
                @include equal(2.75rem);
                position: relative;
                @include flex;

                >span {
                    &#icon {
                        @include equal(1.5rem);
                        position: absolute;
                        top: -.75rem;
                        right: -.25rem;
                        z-index: 1;

                        svg {
                            @include equal(100%);
                        }
                    }

                    &#image {
                        overflow: hidden;
                        @include equal(100%);
                        border-radius: 50%;
                        @include flex;

                        img {
                            scale: 1.1;
                        }
                    }
                }
            }
        }

        /**
        * Styles for the bottom part of the right section 
        */
        &_bottom {
            @include flex($d:column);
            gap: 3rem;
            position: relative;
            bottom: -4rem;
            height: 29rem;
            width: 35.75rem;
            top: 0;
            overflow: hidden;

            @include bp-max($ss-mm) {
                @include min-w(26.25rem);
                height: 26rem;
            }

            >div {
                height: max-content;
                @include flex($d:column);
                gap: 3rem;
                position: absolute;
                top: 4rem;

                @include bp-max($ss-mm) {
                    top: 0;
                }
            }

            &-container {
                position: relative;
                width: 35.75rem;
                height: 7.5rem;

                @include bp-max($ss-mm) {
                    width: 26.25rem;
                    height: 6.5rem;
                }

                &:nth-of-type(1) {
                    >div {
                        left: 10rem;

                        @include bp-max($ss-mm) {
                            left: 6rem;
                        }
                    }
                }

                &:nth-of-type(2) {
                    >div {
                        left: 6rem;

                        @include bp-max($ss-mm) {
                            left: 3rem;
                        }
                    }
                }

                &:nth-of-type(3) {
                    >div {
                        left: 15rem;

                        @include bp-max($ss-mm) {
                            left: 10rem;
                        }
                    }
                }
            }

            &-wrapper {
                position: absolute;
                @include equal(100%);
                border: 1px solid lighten($color: #000000, $amount: 20);
                @include flex($j:space-between);
                padding: .75rem 1.5rem;
                border-radius: 1.5rem;

                @include bp-max($ss-mm) {
                    background-color: var(--black-300);

                    &::after {
                        content: "";
                        height: calc(100% + .5rem);
                        width: calc(100% + .625rem);
                        background-color: inherit;
                        z-index: -1;
                        position: absolute;
                        border-radius: 1.5rem;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &-left {
                @include equal(3.75rem);
                @include flex;

                span {
                    position: relative;
                    /** Relative positioning for the content within the image element. */
                    @include flex;
                    /** Apply flexbox layout to the content within the image element. */
                    border-radius: 50%;
                    /** Inherit border radius for the content within the image element. */
                    @include equal(inherit);
                    /** Make width and height equal for the content within the image element. */
                    overflow: hidden;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        /** Position the pseudo-element to cover the entire image element. */
                        border: 3px solid var(--yellow-100);
                        /** Border styling for the pseudo-element. */
                        border-radius: inherit;
                        /** Inherit border radius for the pseudo-element. */
                    }
                }
            }

            &-center {
                margin: 0 auto 0 1rem;
                @include flex($a:flex-end);
                gap: 5rem;

                @include bp-max($ss-mm) {
                    gap: .5rem;
                }

                >div {
                    @include flex($d:column, $a:flex-start);
                    gap: .5rem;

                    span {
                        font: {
                            size: .875rem;
                            /* Set font size */
                            family: map-get($map: $ff, $key: clash);
                            /* Set font family */
                            weight: map-get($map: $fw, $key: mid);
                            /* Set font weight */
                        }
                    }
                }

                >span {
                    @include equal(1.875rem);

                    @include bp-max($ss-mm) {
                        @include equal(1.375rem);
                    }

                    svg {
                        @include equal(100%);
                    }
                }
            }

            &-right {
                @include equal(5.75rem);

                @include bp-max($ss-mm) {
                    @include equal(4.5rem);
                }

                span {
                    border-radius: 1.5rem;
                    @include equal(100%);
                    @include flex;
                    overflow: hidden;
                }
            }
        }
    }
}