/**
 * Define a list of club items with their properties:
 * Format: (top, left, rotate, mobile-top, mobile-left)
 * Units: top and left in rem, rotate in deg
 **/
$club-items: ((3rem, -10rem, 5deg, 0rem, 0rem),
    (1.75rem, 8.25rem, -10deg, 1rem, -2rem),
    (7.5rem, 5.5rem, 0deg, 4rem, -2.5rem),
    (5rem, 23rem, 5deg, 2.5rem, 5rem),
    (1.75rem, 41rem, -10deg, 2rem, 13.5rem),
    (7.25rem, 41.5rem, 2deg, 4.75rem, 12.5rem),
    (2.25rem, 59.5rem, 10deg, 4rem, 20rem),
    (7.75rem, 61rem, 0deg, 0rem, 0rem),
    (2.8rem, 78rem, -10deg, 0rem, 0rem));

/**
 * Styles for club reputation element
 **/
.club__reputation {
    height: 1.5rem;
    width: 8rem;
    @include flex;
    position: absolute;

    /**
    * Responsive styles for larger screens
    **/
    @include bp-min($ss-mm) {
        width: 18rem;
        height: 3.5rem;
    }

    /**
    * Loop through club items and apply styles
    **/
    @for $index from 1 through length($club-items) {
        $item: nth($club-items, $index);
        $top: nth($item, 1);
        $left: nth($item, 2);
        $rotate: nth($item, 3);
        $mq-top: nth($item, 4);
        $mq-left: nth($item, 5);

        &:nth-of-type(#{$index}) {
            top: $mq-top;
            /* Set top position for mobile */
            left: $mq-left;
            /* Set left position for mobile */

            /**
        * Responsive styles for larger screens
        **/
            @include bp-min($ss-mm) {
                top: $top;
                /* Set top position for larger screens */
                left: $left;
                /* Set left position for larger screens */
            }

            /**
        * Apply rotation to club reputation wrapper
        **/
            .club__reputation-wrapper {
                transform: rotate($rotate);
            }
        }
    }

    /**
    * Hide specific club items for certain screen sizes
    **/
    &:nth-of-type(1),
    &:nth-of-type(8),
    &:nth-of-type(9) {
        display: none;

        @include bp-min($ss-mm) {
            @include flex;
        }
    }

    /**
    * Styles for club reputation wrapper
    **/
    &-wrapper {
        border-radius: 2.25rem;
        @include equal(100%);
        @include flex;
        padding: .1875rem .375rem;
    }

    /**
    * Styles for club reputation text
    **/
    &-text {
        border: 1px solid rgba($color: #000000, $alpha: .9);
        @include equal(100%);
        border-radius: inherit;
        @include flex;

        /**
        * Styles for text within club reputation
        **/
        span {
            font: {
                family: var(--ff-typo);
                size: 1.25rem;
                weight: var(--fw-reg);
            }

            /**
            * Responsive styles for larger screens
            **/
            @include bp-min($ss-mm) {
                font-size: 2.5rem;
            }

            color: rgba($color: #000000, $alpha: .9);
        }
    }
}