@use "../../styles"as *;


.secondaryNav {
    @extend %navbar-container;

    &__wrapper {
        @include flex($j:space-between);
    }

    &__right-col {
        @include flex;
        gap: .5rem;
    }

    &__create {
        font-size: .8125rem;
        font-family: var(--ff-clash);
        text-transform: capitalize;

        a.active {
            color: rgba($color: #f2f0f0, $alpha: .40);
        }
    }

    &__search{
        margin: 0 .75rem 0 .125rem;
    }
}