/**
 * Styles for the badge and medal components.
 */
.badge,
.medal {

    /**
     * Styles for the submit section.
     */
    &__submit {
        /**
         * Apply flexbox layout and set top margin.
         */
        @include flex;
        /* Apply flexbox layout */
        margin-top: 3.5rem;
        /* Set top margin for the submit section */

        /**
         * Styles for the submit button.
         */
        &-button {
            font-size: 0.75rem;
            /* Set font size for the button text */
            @include flex;
            /* Apply flexbox layout */
            border-radius: 0.3125rem;
            /* Set border radius for the button */
            background-color: var(--green-300);
            /* Set background color for the button */

            /**
             * Styles for the button text.
             */
            span {
                height: 2.75rem;
                /* Set height for the button */
                /**
                 * Calculate padding dynamically based on content width and desired height.
                 */
                padding-inline: calculateButtonPadding(10rem, 2.75rem);
                /* Calculate dynamic padding */
                margin: 0.125rem;
                /* Set margin for the button text */
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
                /* Set border styles */
                text-transform: capitalize;
                /* Capitalize text */
                @include flex;
                /* Apply flexbox layout */
                font-family: map-get($map: $ff, $key: clash);
                /* Set font family */
                font-weight: map-get($map: $fw, $key: mid);
                /* Set font weight */
                border-radius: calc(0.3125rem - 0.125rem);
                /* Calculate border radius */
            }
        }
    }
}